<a href="https://colab.research.google.com/github/Diego-Peixoto/Diego-Peixoto/blob/main/Aula_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Aula 01 - PYTHON

#Aula 02 - PYTHON

In [ ]:
#Funções built-in:(print, input) - Funções que são parte da estrutura do Python

#Print, imprime dados digitado pelo desenvolvedor.

#Input, coleta dados que o usuario digita no teclado.

print("Olá Mundo!")
input()

In [ ]:
#Palavras reservadas (if, eslse, or...) que são parte da estrutura do Python e só podem ser usadas para o conceuto que foram criadas.

#Aula 03 - VARIAVEIS

Na programação, as variaveis são utilizadas para armazenar valores e dar um nome para uma área de memória do computador onde se armazena os dados.

In [ ]:
#Nome para as variaveis. 
#Regra Geral: Começar sempre com letras!

In [ ]:
#Formas de declarar variaveis:
t1 = 8
teste = 8
teste_1 = 8

x = 3 (Atribuição)
x == 3 (Comparação)

In [ ]:
x = 10 
y = 15

x * y - x

#Tipos de variaveis

In [83]:
#Numéricas: Inteiras ou Flutuantes (int or float)
idade = 21 ("numero inteiro")
salario = 1045.85 ("numero flutuante")

#Booleanas (Verdadeiro ou Falso)
V = True
F = False

#String (Caracteres ou as Letras)
nome = Diego
idade = 21
idade_02 = 21

TypeError: ignored

#Aula 05 - Função Type( ) e conversão de variáveis

In [39]:
p1 = 7
p2 = 7.6
p1 = float
p1

float

#Aula 06 - Função print()

In [ ]:
nome = input ("Seja Bem-Vindo. por favor, diga-nos o seu nome:")
print ("Muito prazer em conhecer você,", nome)

idade = input ("Por favor, digite a sua idade:")
print ("Sua idade é:", idade), 
print ("Correto?")

altura = input ("Agora me diga a sua altura:")
print ("Sua altura é:", altura)

In [85]:
idade = 21
x = 150
y = 10 
nome = "Diego"
salario = 2000.555

print (x+y)
print ("Soma = ", x+y)
print("A idade de Diego é %d anos" % idade)
print()
print("%s tem %d anos e salário R$%f" % (nome, idade, salario))

160
Soma =  160
A idade de Diego é 21 anos

Diego tem 21 anos e salário R$2000.555000

In [81]:
multiplicacao = x/y
print(multiplicacao)
print("Multiplicação = %.3f,00" % (multiplicacao))

15.0
Multiplicação = 15.000,00

##Aula 06 - Função print() com format

In [86]:
print("{} tem {} anos e salário R${}" .format(nome, idade, salario))

Diego tem 21 anos e salário R$2000.555